{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 Chrome version"]
        },
        "modules": false,
        "useBuiltIns": true
      }
    ]
  ],
  "plugins": [["transform-object-rest-spread", { "useBuiltIns": true }]],
  "env": {
    "test": {
      "presets": [
        [
          "env",
          {
            "modules": "commonjs"
          }
        ]
      ]
    }
  }
}
